.z-index-up {
  z-index: 101 !important;
  position: relative;
}

.z-index-up--for-b  {
  z-index: 101 !important;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .z-index-up {
    position: fixed;
  }
  .z-index-up--for-b  {
    z-index: 99 !important;
  }
}

.mikki-on-rope {
  opacity: 0;
  position: fixed;
  left: 100px;
  z-index: 100;
  -webkit-transform: translateY(-1000px);
      -ms-transform: translateY(-1000px);
          transform: translateY(-1000px);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.mikki-on-rope.animated {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.mikki-on-rope__wrapper {
  position: relative;
}
.mikki-on-rope__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 2;
}
.mikki-on-rope__container .mikki-on-rope__text-img {
  position: relative;
  top: 130px;
  left: -30px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}
.mikki-on-rope__container:hover .mikki-on-rope__text-img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}
.mikki-on-rope__img-gift {
  position: relative;
  top: -64px;
  left: 31px;
  z-index: 2;
  width: 158px;
  height: 158px;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  display: block;
}
.mikki-on-rope__close {
  position: absolute;
  top: 130px;
  right: 0;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  z-index: 5;
}
.mikki-on-rope__close:before, .mikki-on-rope__close:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 2px;
  height: 15px;
  left: 12px;
  top: 5px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.mikki-on-rope__close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mikki-on-rope__close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .mikki-on-rope__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    z-index: 2;
  }
  .mikki-on-rope__container .mikki-on-rope__text-img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.mikki-on-rope__container.animated-1 {
  -webkit-animation: mikki-on-rope__container--an-1 1s ease-in-out both;
          animation: mikki-on-rope__container--an-1 1s ease-in-out both;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.mikki-on-rope__container.animated-2 {
  -webkit-animation: mikki-on-rope__container--an-2 4s ease-in-out infinite;
          animation: mikki-on-rope__container--an-2 4s ease-in-out infinite;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.mikki-on-rope__img-gift.animated {
  -webkit-animation: mikki-on-rope__img-gift--an 2s ease-in-out infinite;
          animation: mikki-on-rope__img-gift--an 2s ease-in-out infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes mikki-on-rope__container--an-1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes mikki-on-rope__container--an-1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
@-webkit-keyframes mikki-on-rope__container--an-2 {
  0%,100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
@keyframes mikki-on-rope__container--an-2 {
  0%,100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
@-webkit-keyframes mikki-on-rope__img-gift--an {
  0%,50%,100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  25%,75% {
    -webkit-transform: scale(0.88);
            transform: scale(0.88);
  }
}
@keyframes mikki-on-rope__img-gift--an {
  0%,50%,100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  25%,75% {
    -webkit-transform: scale(0.88);
            transform: scale(0.88);
  }
}