.disney {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
.disney.visible {
  opacity: 1;
  transition: opacity 1s;
  visibility: visible;
}

.disney-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none !important;
  background-color: transparent;
  border-radius: 50%;
  z-index: 999;
  box-shadow: none;
}
.disney-close:before, .disney-close:after {
  content: '';
  position: absolute;
  left: 24px;
  top: 12px;
  width: 2px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
}
.disney-close:before {
  transform: rotate(45deg);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.15);
}
.disney-close:after {
  transform: rotate(-45deg);
}

/*screen-1*/
.disney-screen-1 {
  position: relative;
  display: block;
  text-align: right;
}
.disney-screen-1:before {
  content: '';
  background-color: #FF1C3A;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 59px;
  width: 100%;
  z-index: 1;
}
.disney-screen-1__info-wrapper {
  position: relative;
  z-index: 3;
}
.disney-screen-1__mouse {
  position: absolute;
  left: -10px;
  bottom: 0;
}
.disney-screen-1__back-img {
  height: 134px;
  position: relative;
  z-index: 2;
  /*filter: drop-shadow(0 -2px 5px rgba(0,0,0, .3));*/
}
.disney-screen-1__mikki {
  height: 90px;
  position: relative;
  z-index: 2;
}
.disney-screen-1__mikki-hand {
  height: 44px;
  position: relative;
  left: -30px;
  top: -10px;
}
.disney-screen-1__text {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  right: 70px;
  bottom: 8px;
  transform-origin: 100% 100%;
  text-align: left;
  line-height: 22px;
}
.disney-screen-1__arrow {
  position: absolute;
  right: 33px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disney-screen-1__arrow i {
  font-size: 30px !important;
  color: #fff !important;
  line-height: 1 !important;
  position: relative;
  top: -2px;
}

.disney-screen-1__mikki-hand {
  animation: mikki-hand-an 2s linear infinite;
  transform-origin: left bottom;
}

.disney-screen-1__arrow {
  animation: disney-screen-1__arrow--an 3s linear infinite;
}

@keyframes mikki-hand-an {
  0%,50%,100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}
@keyframes disney-screen-1__arrow--an {
  0%,35%,65%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
/*screen-1 end*/
.disney-screen-2 {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(200%);
  background-color: #0258f6;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.disney-screen-2.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: transform 1s;
}
.disney-screen-2__static-back, .disney-screen-2__dynamic-back {
  width: 100%;
}
.disney-screen-2__main-text {
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  padding: 0 20px;
  position: absolute;
  left: 0;
  top: 5%;
  text-align: center;
  width: 100%;
  z-index: 11;
}
.disney-screen-2__puti-text {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 130px;
  z-index: 11;
}
.disney-screen-2__finger {
  position: absolute;
  top: 85px;
  right: 50px;
  width: 50px;
  height: 50px;
  z-index: 11;
}
.disney-screen-2__backs-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.disney-screen-2__backs-wrapper:before {
  content: '';
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(top, #0258f6 0%, rgba(2, 88, 246, 0) 100%);
  background: -webkit-linear-gradient(top, #0258f6 0%, rgba(2, 88, 246, 0) 100%);
  background: linear-gradient(to bottom, #0258f6 0%, rgba(2, 88, 246, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0258f6', endColorstr='#000258f6',GradientType=0 );
  z-index: 10;
}
.disney-screen-2__dynamic-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
}
.disney-screen-2__dynamic-back.visible {
  opacity: 1;
}

.disney-screen-2__finger {
  animation: disney-screen-2__finger--an 2s ease-out infinite;
  transform-origin: center bottom;
}

@keyframes disney-screen-2__finger--an {
  0%,100% {
    transform: rotate(0);
  }
  30%,80% {
    transform: rotate(-35deg);
  }
}
.disney-screen-3 {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(200%);
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
}
.disney-screen-3__default-screen {
  width: 100%;
  height: 100%;
  background: url(../img/disney-card.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}
.disney-screen-3__default-screen-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.disney-screen-3__infoblock {
  background-color: #efeae0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 52%;
}
.disney-screen-3__infoblock.in-camera {
  height: auto;
  background-color: transparent;
  height: 230px;
  z-index: 3;
}
.disney-screen-3__infoblock-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.disney-screen-3__infoblock-back:after {
  content: '';
  position: absolute;
  top: 0;
  right: -245px;
  width: 100%;
  height: 100%;
  background-color: #E1253D;
}
.disney-screen-3__infoblock-back img {
  height: 100%;
  width: auto;
  position: relative;
  left: -65px;
}
.disney-screen-3__infoblock-wrapper {
  position: relative;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.disney-screen-3__duga {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
}
.disney-screen-3__duga img {
  width: calc(100% + 4px);
  position: relative;
  top: 1px;
  left: -2px;
}
.disney-screen-3__infoblock-partners {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.disney-screen-3__infoblock-img-1 {
  height: 122px;
  width: auto;
}
.disney-screen-3__infoblock-img-2 {
  height: auto;
  width: 90px;
  position: relative;
  bottom: -33px;
  left: -25px;
}
.disney-screen-3__infoblock-texts {
  text-align: right;
  position: relative;
  z-index: 2;
}
.disney-screen-3__infoblock-btn {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  background: #c91139;
  height: 44px;
  padding: 0 15px;
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.disney-screen-3__infoblock-btn.disney-screen-3__infoblock-btn--white {
  background-color: #fff;
  color: #000;
}
.disney-screen-3__infoblock-text-1 {
  font-size: 18px;
  font-weight: bold;
  color: #696969;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: right;
}
.disney-screen-3__infoblock-text-1.text-white {
  color: #fff;
}
.disney-screen-3__infoblock-text-2 {
  font-size: 14px;
  color: #696969;
  text-align: right;
  margin-bottom: 20px;
  line-height: 1.2;
}
.disney-screen-3__infoblock-text-2.text-white {
  color: #fff;
}
.disney-screen-3__camera {
  display: none;
  height: 100%;
  position: relative;
}
.disney-screen-3__camera.visible {
  display: block;
}
.disney-screen-3.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: transform 1s;
}
.disney-screen-3 #ears {
  position: absolute;
  top: -80px;
  left: -80px;
  z-index: 20;
}
.disney-screen-3 #ears img {
  width: 80vw;
  height: auto;
}
.disney-screen-3 #nose {
  position: absolute;
  top: 110px;
  left: 66px;
  z-index: 20;
}
.disney-screen-3 #nose img {
  width: 16vw;
  height: auto;
}
.disney-screen-3__help-block {
  position: absolute;
  top: 181px;
  left: 67px;
  z-index: 20;
}
.disney-screen-3__help-block-wrapper {
  position: relative;
}
.disney-screen-3__help-block-arrows {
  height: 30px;
  width: 30px;
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translateX(-50%);
}
.disney-screen-3__help-block-text {
  width: 150px;
}
.disney-screen-3 #video {
  z-index: 1;
  width: auto;
  height: 100%;
  transform: scale(-1, 1);
}
.disney-screen-3 #canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
}
.disney-screen-3 #canvas.visible {
  opacity: 1;
}
.disney-screen-3 #image_for_share {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  z-index: -1;
}
.disney-screen-3__buttons-container {
  position: absolute;
  left: 10px;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.disney-screen-3 .disney-btn__text {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #fff;
  z-index: 1000;
  position: relative;
  text-align: center;
  text-shadow: 0 0 12px black;
}
.disney-screen-3 .disney-btn__text.disney-btn--invisible {
  transform: scale(0);
}
.disney-screen-3 .disney-btn__text.disney-btn--invisible.animated {
  transform: scale(1);
  transition: transform .4s;
}
.disney-screen-3 .disney-btn__text.disney-btn--invisible.inv {
  transform: scale(0);
  transition: transform .4s;
}
.disney-screen-3 .disney-btn {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 0;
  line-height: 1;
  margin: 0 0 15px 0;
}
.disney-screen-3 .disney-btn:last-child {
  margin-bottom: 0;
}
.disney-screen-3 .disney-btn img {
  width: 30px;
  height: 30px;
}
.disney-screen-3 .disney-btn.ic-vk {
  background-color: #5a749a;
}
.disney-screen-3 .disney-btn.ic-fb {
  background-color: #3a518b;
}
.disney-screen-3 .disney-btn.fa-instagram {
  font-size: 30px;
  background: #6326ca;
  background: -moz-linear-gradient(top, #6326ca 0%, #af1784 33%, #ef5531 66%, #f8d26d 100%);
  background: -webkit-linear-gradient(top, #6326ca 0%, #af1784 33%, #ef5531 66%, #f8d26d 100%);
  background: linear-gradient(to bottom, #6326ca 0%, #af1784 33%, #ef5531 66%, #f8d26d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6326ca', endColorstr='#f8d26d',GradientType=0 );
}
.disney-screen-3 .disney-btn.disney-btn--invisible {
  transform: scale(0);
}
.disney-screen-3 .disney-btn.disney-btn--invisible.animated {
  transform: scale(1);
  transition: transform .4s;
}
.disney-screen-3 .disney-btn.disney-btn--invisible.inv {
  transform: scale(0);
  transition: transform .4s;
}
.disney-screen-3 #snap {
  position: absolute;
  left: 10px;
  top: 40%;
  background-color: #e1253d;
}
.disney-screen-3 #snap.animated {
  transform: scale(1);
  transition: transform .4s;
}
.disney-screen-3 #snap.inv {
  transform: scale(0);
  transition: transform .4s;
}
.disney-screen-3 #reset {
  position: absolute;
  right: 10px;
  top: 20%;
  background-color: #e1253d;
}
.disney-screen-3 #reset.animated {
  transform: scale(1);
  transition: transform .4s;
}
.disney-screen-3 #reset.inv {
  transform: scale(0);
  transition: transform .4s;
}

@media screen and (max-width: 330px) {
  .disney-screen-3__infoblock-text-1 {
    font-size: 16px;
  }
}
.off-scroll {
  position: relative !important;
  overflow: hidden !important;
  height: 100% !important;
}
