$an-time: 1.16s;

.balls-stretch__smoke {
  filter: drop-shadow(0 0 10px rgba(0,0,0, .8));
  position: absolute;
  z-index: 1;
  opacity: 0;

  &.visible {

  }

  &.balls-stretch__smoke_1 {
    bottom: 110px;
    left: 5%;
  }

  &.balls-stretch__smoke_2 {
    bottom: 20px;
    left: 28%;
  }

  &.balls-stretch__smoke_3 {
    bottom: 80px;
    right: 30%;
  }

  &.balls-stretch__smoke_4 {
    bottom: 32%;
    left: 40px;
  }

  &.balls-stretch__smoke_5 {
    bottom: 68%;
    left: 30px;
  }


  &.balls-stretch__smoke_6 {
    bottom: 32%;
    right: 10px;
  }

  &.balls-stretch__smoke_7 {
    bottom: 68%;
    right: 10px;
  }

  &.balls-stretch__smoke_8 {
    bottom: 73%;
    left: -50px;
  }

  &.balls-stretch__smoke_9 {
    bottom: 35%;
    left: 0px;
  }

  &.balls-stretch__smoke_10 {
    bottom: 60%;
    right: -53px
  }
}


.balls-stretch__smoke.visible {
  &.balls-stretch__smoke_1 {
     animation: smoke-animation $an-time ease-out;
   }

  &.balls-stretch__smoke_2 {
    animation: smoke-animation $an-time ease-out;
    animation-delay: .1s;
  }

  &.balls-stretch__smoke_3 {
    animation: smoke-animation $an-time ease-out;
    animation-delay: .2s;
  }

  &.balls-stretch__smoke_4 {
    animation: smoke-animation $an-time ease-out;
    animation-delay: .3s;
  }

  &.balls-stretch__smoke_5 {
    animation: smoke-animation $an-time ease-out;
    animation-delay: .2s;
  }
  &.balls-stretch__smoke_6 {
    animation: smoke-animation $an-time ease-out;
    animation-delay: .1s;
  }
  &.balls-stretch__smoke_7 {
    animation: smoke-animation $an-time ease-out;
    animation-delay: .3s;
  }

  &.balls-stretch__smoke_8 {
    animation: smoke-animation $an-time ease-out;
    animation-delay: .2s;
  }

  &.balls-stretch__smoke_9 {
    animation: smoke-animation $an-time ease-out;
    animation-delay: .1s;
  }
  &.balls-stretch__smoke_10 {
    animation: smoke-animation $an-time ease-out;
    animation-delay: .3s;
  }
}

@keyframes smoke-animation {
  0% {opacity: 0; transform: scale(0)}
  50%{opacity: 1}
  100%{opacity: 0; transform: scale(1)}
}