

<div class="feedback-block">
    <div class="feedback-block__head">
        <div class="feedback-block__head-left">
            <div class="review-author">
                <div class="review-author__avatar">
                    <img src="https://ru.myfin.by/images/bank/otzyvy/user.svg" alt="user">
                </div>
                <div class="review-author__right">
                    <div class="review-author__name">Денис</div>
                    <div class="review-author__city">Минск</div>
                </div>
            </div>
        </div>
        <div class="feedback-block__head-right">
            <div class="star-rating star-rating--3">
                <div class="star-rating__text">3</div>
                <div class="star-rating__stars">
                    <div class="star-rating__star"></div>
                    <div class="star-rating__star"></div>
                    <div class="star-rating__star"></div>
                    <div class="star-rating__star"></div>
                    <div class="star-rating__star"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="feedback-block__body">
        <h1>Странный банк</h1>
        <div class="feedback-block__text">
            19 декабря 2019 года подала заявку на рефинансирование кредитов в сбербанке и на выдачу дополнительной суммы на руки. Сказали, рассмотрят в течение 3 рабочих дней, позвонили только на 5 день, сказали, что не прохожу по платежу. Странный банк... Не учитывают, что я вообще то замужем и муж тоже зарабатывает неплохо... Также имею дополнительный неофициальный доход, которого вполне хватило бы на оплату нового кредита, зарплата даже бы и не затронулась....
        </div>
    </div>
    <div class="feedback-block__footer">
        <div class="review-info">
            <div class="review-info__left">
                <div class="review-info__product">
                    <a href="/bank/rshb/otzyvy/kredity">Кредиты</a>
                </div>
            </div>
            <div class="review-info__center">
                <div class="review-info__date">
                    27.12.2019
                </div>
            </div>
            <div class="review-info__right">
                <div class="review-info__rating"><span class="review-info__rating-text">Отзыв полезен?:</span>
                    <div class="review-info__rating-block review-info__rating-block--up" data-type="like">
                        <span class="js-update-counter" data-type="like">2</span>
                    </div>
                    <div class="review-info__rating-block review-info__rating-block--down" data-type="dislike">
                        <span class="js-update-counter" data-type="dislike">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
