

<div class="review-info">
    <div class="review-info__left">
        <div class="review-info__product">
            <a href="/bank/rshb/otzyvy/kredity">Кредиты</a>
        </div>
    </div>
    <div class="review-info__center">
        <div class="review-info__date">
            27.12.2019
        </div>
    </div>
    <div class="review-info__right">
        <div class="review-info__rating"><span class="review-info__rating-text">Отзыв полезен?:</span>
            <div class="review-info__rating-block review-info__rating-block--up" data-type="like">
                <span class="js-update-counter" data-type="like">2</span>
            </div>
            <div class="review-info__rating-block review-info__rating-block--down" data-type="dislike">
                <span class="js-update-counter" data-type="dislike">0</span>
            </div>
        </div>
    </div>
</div>
