@font-face {
    font-family: MyFIn;
    font-display: swap;
    src: url(./MyFin.woff2?w2yx2c122z1) format('woff2'), url(./MyFin.ttf?w2yx2c122z1) format('truetype'), url(./MyFin.woff?w2yx2c122z1) format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: roboto-light;
    font-display: swap;
    src: local(roboto-light), url(./roboto-light.woff2) format("woff2"), url(./roboto-light.eot?#iefix) format("embedded-opentype"), url(./roboto-light.woff) format("woff"), url(./roboto-light.ttf) format("truetype"), url(./roboto-light.svg#roboto-light) format("svg")
}

.roboto-light {
    font-family: roboto-light, Arial, Helvetica, sans-serif
}

@font-face {
    font-family: roboto-regular;
    font-display: swap;
    src: local(roboto-regular), url(./roboto-regular.woff2) format("woff2"), url(./roboto-regular.eot?#iefix) format("embedded-opentype"), url(./roboto-regular.woff) format("woff"), url(./roboto-regular.ttf) format("truetype"), url(./roboto-regular.svg#roboto-regular) format("svg")
}

.roboto-regular {
    font-family: roboto-regular, Arial, Helvetica, sans-serif
}

@font-face {
    font-family: roboto-bold;
    font-display: swap;
    src: local(roboto-bold), url(./roboto-bold.woff2) format("woff2"), url(./roboto-bold.eot?#iefix) format("embedded-opentype"), url(./roboto-bold.woff) format("woff"), url(./roboto-bold.ttf) format("truetype"), url(./roboto-bold.svg#roboto-bold) format("svg")
}